@import url("https://fonts.googleapis.com/css2?family=Alata&family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
.positioncm{
    position: absolute !important;
    top: 13rem !important;
    width: 3rem !important;
    height: 4rem !important;
    right: 25px;
   

}
.leading-none{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-posi{
    /* background-color: red; */
    font-size: 1rem;
    text-transform: uppercase;
    /* margin-right: 200px !important; */
}
.mainSection {
  padding-top: 10rem;
  width: 100%;
  height: 140vh;
  /* height: 100vh; */
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      #2b2a2a 70%
    ),
    url("src/assets/img/stadium_background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 2rem;
  flex-wrap: wrap;
  padding: 2%;
}

.grid-container {
  background-image: url(src/assets/img/tirain.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  grid-template-columns: 20.5% 20.5% 20.5% 20.5% 20.5%;

  width: 150%;
}
.grid-item {
  padding: 2rem;
  font-size: 3rem;
  text-align: center;

  height: 16rem;
  width: 14.5rem;
  position: relative;
}

.sidemain {
  /* padding: 5rem 1rem; */

  width: 25%;
  /* height: 58.8rem; */
  height: 95%;
  /* background-color: aqua; */
  padding-top: 10rem;
  /* overflow-y: scroll; */
  border-radius: 1rem;
}
.form-container {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
.terain {
  width: 50%;
}

#terainimg {
  width: 90%;
  height: 140%;
  /* z-index: 999; */
}

.card {
  background-image: url(src/assets/img/badge_gold.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 17rem;
  height: 20rem;
}
.cardposition {
  position: absolute;
}

.lb {
  /* gride16  lb*/
  top: -15rem;
  left: 7rem;
}
.rb {
  /* gride20 dagir  rb*/
  top: -15rem;
  left: -7rem;
}
.cbl {
  /* gride17 cb */
  top: -5rem;
  left: 50px;
}
.cbr {
  /* gride19 cb */
  top: -5rem;
  left: -30px;
}

.str {
  /* gride 2 and 4 */
  top: -5rem;
  left: 10rem;
}
.stl {
  /* gride 2 and 4 */
  top: -5rem;
  right: 10rem;
}
.rm {
  /* gride 6 rm */
  top: -10rem;
  margin-left: 10rem;
}
.lm {
  /* gride 10 lm */
  top: -10rem;
  right: 10rem;
}
.gk {
  /* gk */
  top: -8rem;
}
.cml {
  /* gride 12  cm */
  top: 1.5rem;
  left: 120px;
}
.cmr {
  /* cm ayemn */
  top: 1.5rem;
  right: 80px;
}
.cardContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  /* background-image: url(src/assets/img/badge_total_rush.webp); */
  background-position: center;
  background-size: cover;
}

.cardContainerchangement{
    width: 200px;
    height: 300px;
     background-image: url(src/assets/img/badge_total_rush.webp);
     background-size: cover;
     transition: .5s;
 
}
.playerInfoschangement{
    width: 150px;
    height: 200px;
    /* background-color: red; */
    position: relative;
    top: 7rem;
    left: 3rem;
    color: white;
    
}
.playerInfoschangement .numdiv{
    font-size: 2rem;
    /* background-color: beige; */
    /* margin-top: 3rem; */
    /* position: relative; */
}
#playerPhotochangement{
  width: 100px;
  height: 100px;
  z-index: 999;
  position: absolute;
  right: -1rem;
  object-fit: cover;
  border-radius: 20px;
}
.playerInfoschangement img{
  background-color: #0011ff00;
  object-fit: contain;
}
 
.playerInfoschangement .playerDetails, .CountryAndTeam{
   position: relative;
  /* top: 3rem; */
  /* background-color: black; */
}
.playerInfoschangement #playerName{
  margin-top: 9rem;
  font-size: 1.5rem;
}

.CountryAndTeam {
  width: 90%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
.nationality,
.club,
.logo {
  width: 25%;
  height: 100%;
  background-color: #6e7b7b;
  /* border-radius: 50%; */
  overflow: hidden;
}
.flag-img,
.club-logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 5px;  */
}
.playerInfos {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: space-evenly;
  background-position: center;
  background-size: cover;
  overflow: hidden !important;
  position: relative;
}
.playerInfos #playerPhoto {
  width: min-content;
  height: 100%;
  top: 5rem;
  left: 10rem;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* background-color: red; */

}
.player-NAme {
  margin-top: 5rem;
  /* background-color: red; */
  text-transform: capitalize;
  font-family: "poppins";
  text-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255),
    0px 0px 20px rgb(255, 255, 255);
}
#playerName {
  font-size: 1.5rem !important;
}
.numdiv {
  width: 20px;
  height: 20px;
  font-size: 1.6rem;
  font-weight: 900;
}
.playerDetails {
  height: 2rem;
  display: flex;
  gap: 1px;
  /* margin-top: rem; */
}
.prop1 {
  width: 20%;
  height: 100%;
  /* background-color: red; */
}
.ca {
  width: 100%;
  height: 50%;
  margin-bottom: 1px;
  font-size: 10px;
  font-weight: 700;
  font-size: 10px;
  /* background-color: green; */
}

.form-container {
  background-color: #1211119b;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.form-container input {
  background-color: #404040;
}
.form-container input {
  outline: none;
  border: none;
  font-size: 1.7rem;
  color: white;
}
#position {
  background-color: #404040;
}

.changement {
  /* margin-top: 20px; */
  width: 100%;
  height:max-content;
  background-color: #2b2a2a;
  /* border: 1px solid red; */
  display: flex;
  justify-content: left;
  align-items: center;
}
.chanTeam {
  width: 55%;
  height: 90%;
  /* background-color: #7c6b6b; */
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 2rem;
  align-items: center;
  /* justify-content: space-evenly; */
  padding-left: 30px;
}
.addplayerBtn {
  width: 90%;
  padding: 1rem;
  font-family: "poppins";
  font-weight: 700;
}

.player-caracteristic {
  display: none;
}

.goolKeper-caracteristic {
  display: none;
}

.card {
  filter: drop-shadow(15px 10px 4px #0000005f);
  transition: 0.4s;
}
#playerPhoto {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: -10px;
  left: 0px;
  /* right: 200px; */
}
.countryselect {
  background-color: #404040 !important;
}
.card:hover {
  filter: drop-shadow(0px 0px 15px #55cca2);
  transform: scale(1.01);
}

.changement .card:hover {
  filter: drop-shadow(0px 0px 15px #ff0000ee);
  transform: scale(1.01);
}
/* Existing general styles */
#popup-modal {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 30% !important;
  height: 40% !important;
}
.d {
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.positionname{
    height: 20px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 11.5rem;
    right: -60px;
    text-align: center;
    font-size: 12px ;
    font-weight: 900;
    text-transform: uppercase;
    /* padding: 5px; */
    border-radius: 12px;
    box-shadow: 0px 0px 20px #ffb300;
    color: rgb(181, 181, 181);
    user-select:none;
    border: 1px solid rgba(255, 0, 0, 0);
    /* animation: borderTurn 4s infinite ease-in-out; */
}


.postr{
    left: 14rem;
    top: 13.5rem;
}
.postl{
    right: 8.5rem;
    top: 13.5rem;
}
.porm{
    left: 16rem;
    top: 8.5rem;
}
.pocmr{
    left: -6.5rem;
    top: 20.5rem;
}
.pocml{
    left: 16rem;
    top: 20.5rem;
}
.pocbl{
    left: 8.5rem;
    top: 13.5rem;
}
.pocbr{
    right:-1rem;
    top: 13.5rem;
}
.polb{
    left: 11rem;
    top: 4rem;
}
.porb{
    right: 3rem;
    top: 4rem;
}
.polm{
    left: -8.5rem;
    top: 8.5rem;
}

@media (min-width: 710px) and (max-width: 1420px) {
  .mainSection {
    width: 100%;
    height: max-content;
  }
  .main {
    flex-direction: rows;
    padding: 2%;
    justify-content: center;
    /* height: 400vh; */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(60px, 1fr));
    gap: 1rem;
    width: 100%;
    background-image: url(src/assets/img/tirain.webp);
    background-position: center;
    background-size: cover;
  }

  .grid-item {
    padding: 1rem;
    font-size: 1.5rem;
    height: 12rem;
    width: 100%;

    font-size: 3rem;
    text-align: center;

    /* height: 17rem;
            width: 15.5rem; */
    height: 16rem;
    width: 14.5rem;
    position: relative;
  }

 
  .sidemain {
    width: 80%; 
    height: 40%; 
    padding-top: 0rem;
    margin-bottom: 12rem; 
    order: 1;
    /* overflow-y: scroll; */
    /* background-color: aqua; */
  }

  .form-container {
    height: 50rem;
    /* padding: 1rem; */
    width: 100%;
    padding: 7rem 15rem;
    border-radius: 12px;
    /* overflow:scroll; */
    background-color: rgba(23, 28, 23, 0.732) !important;
  }

  .form-container input {
    /* padding: 1.5rem !important; */
    height: 5rem;
    outline: none;
    color: rgb(255, 255, 255);
    font-family: "poppins";
    font-weight: 900 !important;
    font-size: 1.9rem !important;
  }
  /* Adjust terrain section positioning */
  .terain {
    width: 90%; 
    height: auto;
    padding: 1rem;
    margin-bottom: 2rem;
    order: 2;
  }

  .changement {
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    padding: 5rem 1rem;
  
  }

  .chanTeam {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 1.5rem;
  }

 
  .card {
    width: 19rem; 
    height: 22.5rem; 
    margin-bottom: 1rem; 
  }

  /* Adjust card position */
  .cardposition {
    position: relative;
  }

  
  .player-caracteristic,
  .goolKeper-caracteristic {
    display: block;
  }


  .player-NAme {
    font-size: 1rem; 
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    text-shadow: 0 0 10px rgb(255, 255, 255);
  }

  .form-container input {
    padding: 0.8rem;
    font-size: 1rem;
  }

  #position {
    background-color: #404040;
    padding: 0.8rem;
  }

  .lb {
    /* gride16 dagir aysser lb*/
    top: -15rem;
    left: 7rem;
  }
  .rb {
    /* gride20 dagir aymen rb*/
    top: -15rem;
    left: -7rem;
  }
  .cbl {
    /* gride17 cb aysser*/
    top: -5rem;
    left: 50px;
  }
  .cbr {
    /* gride19 cb aymen*/
    top: -5rem;
    left: -30px;
  }

  .str {
    /* gride 2 and 4 */
    top: -10rem;
    left: 10rem;
  }
  .stl {
    /* gride 2 and 4 */
    top: -10rem;
    right: 10rem;
  }
  .rm {
    /* gride 6 rm aysser*/
    top: -10rem;
    margin-left: 10rem;
  }
  .lm {
    /* gride 10 lm ayemn*/
    top: -10rem;
    right: 10rem;
  }
  .gk {
    /* gk */
    top: -5rem;
  }
  .cml {
    /* gride 12  cm aysser*/
    top: -2rem;
    left: 120px;
  }
  .cmr {
    /* cm ayemn */
    top: -2rem;
    right: 80px;
  }

  #name {
    font-size: 14px !important;
  }
  #photo {
    font-size: 12px !important;
  }




  
.postr{
  left: 17rem;
  top: -10.5rem;
}
.postl{
  right:3rem;
  top: -10.5rem;
}
.porm{
  left: 17rem;
  top: -9.5rem;
}
.pocmr{
  left: -.5rem;
  top: -2rem;
}
.pocml{
  left: 19rem;
  top: -2rem;
}
.pocbl{
  left:12rem;
  top: -5.5rem;
}
.pocbr{
  right:-4rem;
  top: -5.5rem;
}
.polb{
  left: 14rem;
  top: -15rem;
}
.porb{
  right: -.5rem;
  top: -15rem;
}
.polm{
  left: -3rem;
  top: -10.5rem;
}
.polr{
  left: -3rem;
  top: -10.5rem;
}
.pogk{
  top: -4rem;
  left:7rem;
}

}


.error {
  color: red;
  font-size: 19px !important;
}



.radio-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
    background-color: rgb(0, 0, 0);
    padding: 4px;
    border-radius: 10px;
    z-index: -1;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .radio-input input {
    display: none;
  }
  
  .radio-input .label {
    width: 50%;
    height: 60px;
    background: linear-gradient(to bottom, #333333, rgb(36, 35, 35));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: all 0.1s linear;
    border-top: 1px solid #4e4d4d;
    background-color: #333333;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0.2);
  }
  
  .label:has(input[type="radio"]:checked) {
    box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
    border-top: none;
  }
  
  .label:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .label:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 103%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(
      to bottom,
      transparent 10%,
      transparent,
      transparent 90%
    );
    transition: all 0.1s linear;
    z-index: -1;
  }
  
  .label:has(input[type="radio"]:checked)::before {
    background: linear-gradient(
      to bottom,
      transparent 10%,
      #cae2fd63,
      transparent 90%
    );
  }
  
  .label .text {
    color: black;
    font-size: 15px;
    line-height: 12px;
    padding: 0px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s linear;
    text-shadow:
      -1px -1px 1px rgb(224, 224, 224, 0.1),
      0px 2px 3px rgb(0, 0, 0, 0.3);
  }
  
  .label input[type="radio"]:checked + .text, .active {
    color: rgb(202, 226, 253);
    text-shadow: 0px 0px 12px #cae2fd;
  }
 
  
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}



.logoset{
  height: 100px ;
  width: 100% ;
  /* background-color: red; */
  position: absolute;
  top: 0;
  background-attachment:fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}
.logoset img{
  width: 50px;
  height: 50px;
  object-fit: cover;


}
.logoset h1{
color: white;
font-size: 20px;
}
#logoNAme{
  font-size: 24px;
  margin-left: 20px;
}
header li{
  font-size: 16px;
}


.cardContainerchangement:hover{
  filter: drop-shadow(0px 0px 15px #ff0000ee);
}